/* @import "tailwindcss";
@theme {
  --color-primary: #582F52;
  --color-secondary: #7A3E57;
  --color-primaryhover:#703A68;
  --color-secondaryhover: #944C70;
  --color-heading: #F0F0F0;
  --color-subheading: #C8BFC6;
  --color-background: #242424;
} */
